<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var tempData = [
        ['testCase', 'getSignals', 'createParameters' , 'readPartialData'],
        ['pin_100_level_1_timing_1_action_1', 5, 23, 47],
        ['pin_100_level_50_timing_50_action_50', 6, 33, 185]
        ];
        var data = google.visualization.arrayToDataTable(tempData);

        var options = {
          title: 'MV Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
